

@model ProductUpdateRequest;
@{
}
<h1>Delete Product</h1>
<h2>are  you sure your wish to delete?</h2>


<form action="~/products/delete" method="post">
    <input asp-for="ProductID" type="hidden"/>
    
    <div>
        <label asp-for="ProductType"></label>
        <select asp-for="ProductType" disabled>
            @foreach(var option in Enum.GetNames(typeof(ProductTypeOptions)))
            {
                if(option == Model.ProductType.ToString())
                {
                    <option value="@(option)" selected>@(option)</option>
                }
                else
                {
                    <option value="@(option)">@(option)</option>
                }
            }
        </select>
    </div>

    <div>
        <label asp-for="ProductDescription">Product Description</label>
        <input asp-for="ProductDescription" disabled/>
    </div>

    <div>
        <label asp-for="Size">Size</label>
        <input asp-for="Size" disabled/>

    </div>

    <div>
        <label asp-for="EntryDate">Entry Date</label>
        <input asp-for="EntryDate" disabled/>

    </div>

    <div>
        <button type="submit">Delete</button>
    </div>
</form>

@if(ViewBag.Errors != null)
{
    <ul>
        @foreach(var error in ViewBag.Errors)
        {
            <li>@error</li>
        }
    </ul>
}